/* Universal selector */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variables assigned colors*/
:root {
  --linkText: #050000d5;
  --bgColor: #e4dee2b9;
  --navColor: rgb(184, 184, 184);
  --borderColor: grey;
  --quoteColor: black;
}

body {
  font-family: sans-serif;
  font-size: 1.75rem;
  line-height: 1.5;
  width: 100%;
}

/* Style setting for list items*/
.navbar ul,
.contact ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navlinks li {
  float: right;
}

.navlinks li a {
  display: block;
  color: var(--linkText);
  font-weight: bold;
  text-align: right;
  padding: 20px;
  text-decoration: none;
}

li a:hover {
  background-color: var(--bgColor);
}
.contact li {
  text-decoration: none;
  display: inline-block;
  color: var(--linkText);
  font-weight: bold;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

header {
  background-color: var(--navColor);
}

main {
  width: 100%;
  margin: 2rem auto;
  float: left;
  font-family: sans-serif;
}

html {
  /*   set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) 
 */
  font-size: 62.5%;
}

/*flexbox for the navigation bar */
.navContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--bgColor);
  padding: 1.5rem;
  border: var(--borderColor) solid 2px;
}

.navlinks {
  background-color: var(--navColor);
  display: flex-end;
  flex: 1 0 75%;
  padding: 1.5rem;
  order: 2;
}
.navbar {
  background-color: var(--navColor);
  display: flex-start;
  font-size: large;
  color: var(--linkText);
  flex: 1 0 25%;
  padding: 1.5rem;
  order: 1;
}

/* Flexbox for the main content*/
.main-content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 600px;
  width: 100%;
  margin-bottom: 2.5rem;
}

.wdQuote {
  display: flex-end;
  flex: 1 0 auto;
  padding: 1.5rem;
  font-size: xx-large;
  font-weight: bolder;
  font-style: oblique;
  color: var(--quoteColor);
  order: 1;
}
.profileImg {
  display: flex-end;
  flex: 1 0 auto;
  padding: 1.5rem;
  order: 2;
}

.hey {
  max-width: 300px;
  max-height: 300px;
  float: right;
}

/* Flexbox container for projects */
.project-content {
  background-color: var(--bgColor);
 
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  border: var(--borderColor) solid 2px;
  object-fit: contain;
  width: 95%;
  margin: 3rem;
  padding: 1rem; 
   
}

/*Consolidated style setting for flex items */

.prj1-box,
.prj3-box,
.prj5-box,
.prj2-box,
.prj4-box,
.prj7-box,
.prj6-box,
.prj8-box {
  flex: 1 0 auto;
  object-fit: contain; 
  transition: flex-basis 500ms linear;
  margin: 1rem 1.5rem;
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  min-height: 100%;
  min-width: auto;
  padding: 1.5rem 0rem;
  transition: all 0.5s ease-in-out;
 
    
}
/* Img setting for flex items*/
.prj1-box > a > img,
.prj2-box > a > img,
.prj3-box > a > img,
.prj4-box > a > img,
.prj5-box > a > img,
.prj6-box > a > img,
.prj7-box > a > img,
.prj8-box > a > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
 
}
/* style setting for anchor tag */
.project-content a,
.contact a {
  text-decoration: none;
  text-align: center;
  padding: 0;
  color: var(--linkText);
 flex-grow: 1;
 }

.prj1-box img,
.prj3-box img,
.prj2-box img,
.prj5-box img,
.prj4-box img,
.prj6-box img,
.prj7-box img,
.prj8-box img {
  max-height: 300px;
  max-width: 375px; 
  background-color: var(--linkText);
  position: relative;
  border: 2px solid var(--borderColor);
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
 }


 
/*Scale image on click */
.prj1-box:active,
.prj2-box:active,
.prj3-box:active,
.prj4-box:active,
.prj5-box:active,
.prj6-box:active,
.prj7-box:active,
.prj8-box:active {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

/* Settings for the about me section */
.skills {
  background-color: var(--bgColor);
  text-align: left;
  padding: 1.5rem;
  font-size: 20px;
  font-family: sans-serif;
  height: 200px;
  border: var(--borderColor) solid 2px;
  width: 95%;
  margin: 2%;
  color: var(--quoteColor);
}
.skills h2 {
  margin: 5px;
}

/* Settings for the contact section */
.contact {
  display: flex;
  background-color: var(--navColor);
  justify-content: center;
  width: 95%;
  margin: 2%;
  font-family: sans-serif;
  border: var(--linkText) solid 2px;
}

/* Settings for the footer section */

footer {
  background-color: var(--navColor);
  text-align: center;
  width: 100%;
  height: 20px;
  margin-top: auto;
  font-family: sans-serif;
  font-size: 15px;
  color: var(--linkText);
}
h3{
  font-weight: bolder;
}

/* // Small devices (Phones, less than 768px) */
@media only screen and (max-width: 768px) {
  .navlinks li {
    float: none;
    width: 100%;
  }
  .navbar {
    float: none;
    width: 100%;
  }
  .contact li {
    float: none;
    width: 100%;
  }
  .main-content .wdQuote,
  .main-content .profileImg {
    flex-wrap: wrap;
    font-size: 15px;
    float: none;
    width: 100%;
  }
  .skills {
    font-size: small;
  }
}
