* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --linkText: rgba(255, 255, 255, 0.966);
  --bgColor: #e4dede80;
  --navColor: lightgrey;
}

body {
  /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
  font-size: 1.75rem;
  line-height: 1.5;
  width: 100%;
}

.navbar ul,
.contact ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navlinks li {
  float: right;
}

.navlinks li a {
  display: block;
  color: var(--linkText);
  text-align: right;
  padding: 26px;
  text-decoration: none;
}

li a:hover {
  background-color: var(--bgColor);
}
.contact li {
  text-decoration: none;
  display: inline-block;
  color: var(--linkText);
  text-align: center;
  padding: 26px;
  text-decoration: none;
}

header {
  background-color: var(--bgColor);
}

main {
  width: 100%;
  /*  margin: 2rem auto; */
  margin: auto;
  float: left;
}

html {
  /*   set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) 
 */
  font-size: 62.5%;
}

.navContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.navlinks {
  background-color: var(--navColor);
  display: flex-end;
/*   border: black solid 5px;
 */  flex: 1 0 75%;
  /*   padding: 1.5rem;
 */ /* when the screen resizes, make it so our columns don't jump in size */
  transition: flex-basis 500ms linear;
  margin-bottom: 1.5rem;
  order: 2;
}
.navbar {
  background-color: var(--navColor);
  display: flex-start;
/*   border: black solid 5px;
 */  flex: 1 0 25%;
  /*   padding: 1.5rem;
 */ /* when the screen resizes, make it so our columns don't jump in size */
  transition: flex-basis 500ms linear;
  margin-bottom: 1.5rem;
  order: 1;
}

.main-content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-image: url("/Assets/images/bluesky.jpg");
  opacity: 50%;
  height: 400px;
  width: 100%;
  /*     margin-bottom: 25px;
 */
  background-size: cover;
  background-position: center;
}


.wdQuote {
  display: flex-end;
  flex: 1 0 auto;
  /* padding: 1.5rem; */
  font-size: xx-large;
  font-weight: bolder;
  font-style: oblique;
  color: var(--linkText);
 border: solid 10px black; 
  order: 1;
}
.profileImg {
  display: flex-end;
  flex: 1 0 auto;
  /* padding: 1.5rem; */
  border: solid 10px black;
  order: 2;
}

.hey {
  max-width: 200px;
  max-height: 200px;
  float: right;
}

.project-content {
  background-color: (--bgColor);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
  border: grey solid 2px;
  object-fit: fill;
  width: 100%;
}

.prj1-box {
  border: grey solid 2px;
  flex: 2 0 auto;
  object-fit: contain;
  padding: 1rem;
  /* when the screen resizes, make it so our columns don't jump in size */
     /*  transition: flex-basis 500ms linear;*/
    transition: width;

}

.prj2-box {
  border: grey solid 2px;
  flex: 1 0 auto;
  object-fit: contain;
  padding: 1rem;
  /*  padding: 1.5rem;
 */ /* when the screen resizes, make it so our columns don't jump in size */
  transition: flex-basis 500ms linear;
}
.prj3-box {
  border: grey solid 2px;
  flex: 1 0 auto;
  object-fit: contain;
  padding: 1rem;
  /*  padding: 1.5rem; */
  /* when the screen resizes, make it so our columns don't jump in size */
  transition: flex-basis 500ms linear;
 
}

.prj4-box {
  border: grey solid 2px;
  flex: 2 0 auto;
  object-fit: contain;
  padding: 1rem;
  /* when the screen resizes, make it so our columns don't jump in size */
  transition: flex-basis 500ms linear;
  
}

.prj5-box {
  border: grey solid 2px;
  flex: 1 0 auto;
  object-fit: contain;
  padding: 1rem;
  /* when the screen resizes, make it so our columns don't jump in size */
  transition: flex-basis 500ms linear;
 
}

.prj6-box {
  border: grey solid 2px;
  flex: 2 0 auto;
  object-fit: contain;
  padding: 1rem;
  /* when the screen resizes, make it so our columns don't jump in size */
  transition: flex-basis 500ms linear;
  order:2;
}
.prj7-box {
    border: grey solid 2px;
    flex: 2 0 auto;
    object-fit: contain;
    padding: 1rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    order:1;
  }

  .prj8-box {
    border: grey solid 2px;
    flex: 1 0 auto;
    object-fit: contain;
    padding: 1rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    order:-1;
  }
 
.prj3-box img,
.prj5-box img,
.prj7-box img,
.prj8-box img {
  max-height: 200px;
  max-width: 500px;
}

.prj1-box img,
.prj2-box img,
.prj4-box img,
.prj6-box img {
  max-height: 200px;
  max-width: 575px;
}

.prj1-box:hover, 
.prj2-box:hover,
.prj3-box:hover,
.prj4-box:hover, 
.prj5-box:hover,
.prj6-box:hover,
.prj7-box:hover,
.prj8-box:hover
  {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  } 

.skills {
  background-color: var(--bgColor);
/*   border: black solid 5px;
 */  justify-content: center;
 width: 100%;

}

.contact {
  display: flex;
  background-color: lightgray;
/*   border: black solid 5px;
 */  justify-content: center;
}

footer {
  background-color: var(--navColor);
  text-align: center;
  width: 100%;
  /* position: absolute; 
   bottom: 0;*/

  height: 40px;
  /* margin-top: 40px; */
  margin-bottom: auto;
/*   border: black solid 5px;
 */}


/* // Small devices (Phones, less than 768px) */
@media only screen and (max-width: 768px) { 
  .navlinks li{
    float: none;
    width: 100%;
  } 
  .navbar{
    float: none;
      width: 100%;
  }
  .contact li{
    float: none;
      width: 100%;
  }
  .main-content .wdQuote, .main-content .profileImg
  {
    flex-wrap: wrap;
    font-size: large;
    float: none ;
    width: 100%;
  }
}

/* // Large devices (laptops/desktops, more than 992px) */
/*  @media ( min-width: 992px) { 
  .navlinks li{
    float: none;
      width: 100%;
  } 
  .navbar{
    float: none;
      width: 100%;
  }
  .contact li{
    float: none;
      width: 100%;
  } 
  
 }*/

 /* // Extra Large devices (laptops/desktops, more than 992px) */
 /* @media ( min-width: 1200px) { 
  .navlinks li{
    float: none; 
      width: 100%;
  }  
  .navbar{
 float: none;
      width: 100%;
  }
  .contact li{
    float: none;
      width: 100%;
  }
  
 }
*/
